<div class="flex-container in-column">
  <div class="flex-container in-line">
    <div class="flex-container in-column">
      <img [src]="imagePreview" height="200px" width="180px">
      <input style="display: none" type="file" (change)="onFileUpload($event)" #selectFile>
      <button (click)="selectFile.click()">Select File</button>
    </div>
    <div>
      <p-panel header="Profile">
        <form [formGroup]="profileForm" action="">
          <div class="form-group flex-container in-line">
            <label for="firstName"><strong>Ім'я : </strong></label>
            <div>{{ profileData.firstName }}</div>
            <input type="text" id="firstName" formControlName="firstName"/>
            <p-button icon="pi pi-pencil" styleClass="ui-button-secondary" (click)="toggleEdit('firstName')"></p-button>
          </div>

          <div class="form-group flex-container in-line">
            <label for="lastName"><strong>Прізвище : </strong></label>
            <div>{{ profileData.lastName }}</div>
            <input type="text" id="lastName" formControlName="lastName"/>
            <p-button icon="pi pi-pencil" styleClass="ui-button-secondary" (click)="toggleEdit('lastName')"></p-button>
          </div>
          <hr/>
        </form>
      </p-panel>
    </div>
  </div>
</div>


