/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.material-icons.md-48 { font-size: 48px; }

body {
  font-family: Comic Sans MS, Comic Sans, cursive;
  margin: 0;
}

.container {
  display: flex;
}

.in-column {
  flex-direction: column;
}

.in-line {
  flex-direction: row;
}

/*.gradient-background {
  color: #fff;
  background: linear-gradient(-45deg, #010101, #1A1A1A, #2A2A2A, #3B3B3B);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}*/


